
h1{
    text-align: center;
    background: linear-gradient(to right, rgb(78,250,99),rgb(121,66,222));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.lore-stat{
    position: relative;
}

.lore-stat:first-child {
    /*position: absolute;*/
}
nav{
    display: flex;
    gap: 55px;

}
main{
    display: flex;
}
main:nth-child(1){
    justify-content: flex-start;
}

main:nth-child(2){
 justify-content: right;
}

/*.lore{*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    left: 16px;*/

/*}*/

/*.stat{*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 16px;*/
/*}*/

img{
    width: 500px;
    height: 500px;

}
